.navigation
  .navigation__wrapper
    a.navigation__link(href="/") COLLECTIO.
    button.navigation__button
        svg.navigation__button__icon(fill="none" viewBox="0 0 72 20" xmlns="http://www.w3.org/2000/svg")
          line.line__1(x1="68" x2="4" y1="5" y2="5" stroke="#000" stroke-width="2")
          line.line__2(x1="68" x2="4" y1="17" y2="17" stroke="#000" stroke-width="2")
