nav.navigation
  .navigation__wrapper
    a.navigation__link(href="/") COLLECTIO.
    button.navigation__button
      div.navigation__button__icon
        span.navigation__button__icon__line
        span.navigation__button__icon__line
