.preloader
  .preloader__wrapper
    p.preloader__text
      |Girl photography gallery<br>
      |& beautifull Collection<br>
      |vogue from collectio

    span.preloader__number
      span.preloader__number__text 0%
