.preloader
  .preloader__wrapper
    .preloader__text
      |Girl photography gallery
      | & beautifull Collection
      | vogue from collectio

    .preloader__number
      .preloader__number__text 0%
