.collumns {
  display: flex;
  padding: 0 10rem;

  @include media('<=phone') {
    flex-direction: column;
    padding: 0;
  }
}

.collumns__wrapper {
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  padding: 2rem;

  &:nth-child(even) {
    flex-direction: column;
  }
}

.collumn {
  display: flex;
  flex-direction: column-reverse;
}


.collumn__item {
  display: inline-block;
  padding: 1.5rem;
  width: 100%;

  @include media('<=phone') {
    padding: 0;
  }
}

.collumn__item__media {
  overflow: hidden;
  display: inline-block;
  object-fit: cover;
  max-width: 400px;
  height: auto;
  width: 100%;
  border-radius: 12px;

  &:hover {
    overflow: hidden;

   .collumn__item__media__image {
    transform: scale(1.3);
  }

}

}
.collumn__item__media__image {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  transition: transform 1s cubic-bezier(.8,0,.22,1);

  object-fit: cover;
}
