.menu {
  @extend %cover;
  @extend %center;

  background-color: $color-sisal;
  color: $color-white;
  z-index: z("menu");

  //display: none;
  transform-origin: top center;
}

.menu__wrapper {
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}
.menu__links__items {
  @extend %title-88;
  z-index: 1;
  align-items: baseline;
  display: flex;
  cursor: pointer;

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .menu__links__items__number {
      margin-right: 3rem;
      margin-left: 0;
    }
  }
}


.menu__links__items__link {
  > span {
    display: inline-block;
    overflow: hidden;
  }

  span {
    display: inline-block;
  }
}

.menu__links__items__number {
  @extend %description-32;
  font-family: $font-satoshi;
  font-weight: 300;
  margin-left: 3rem;
  display: inline-block;
  overflow: hidden;

  span {
    display: inline-block;
  }
}

.menu__links__media {
  background-color: $color-gray;
  height: 40rem;
  width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  //transform: translate3d(-50%, -50%, 0);
  opacity: 0;

  @include media("<=phone") {
    display: none;
  }
}

.menu__links__media__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
