.preloader{
  @extend %cover;
  @extend %center;
  background-color: $color-black;
  color: $color-white;
  z-index: z('preloader');
}


.preloader__wrapper{

}

.preloader__text {
  @extend %title-48;

  max-width: 76rem;
  line-height: 1.5;
  text-align: center;

  > span {
    overflow: hidden;
  }

  span {
    display: inline-block;
  }
}

.preloader__number{
  position: fixed;
  bottom: 48px;
  right: 48px;
  overflow: hidden
}

.preloader__number__text{
  @extend %title-48;
  display: inline-block;
}
