//Color
$color-sisal : #D7CCBF;
$color-westar : #E7E2DC;
$color-gray : #EEEEEE;
$color-white : #FFFF;
$color-black : #000;

//Font
$font-against : 'against';
$font-satoshi : 'Satoshi';

$header-gap : 60px;

$z-indexes : ('preloader', 'navigation', 'menu')
