//Color
$color-sisal: #d7ccbf;
$color-westar: #e7e2dc;
$color-gray: #eeeeee;
$color-gray-200: #f5f5f5;
$color-white: #ffff;
$color-black: #000;

//Border
$input-border: 1px solid
  rgba(
    $color: #c8c8c8,
    $alpha: 0.5,
  );

//Font
$font-against: "against";
$font-satoshi: "Satoshi";

$header-gap: 60px;

$z-indexes: ("preloader", "navigation", "menu");
