.uploader__content__body__dropzone {
  border-radius: 8px;
  border: 3px dashed rgba($color: #000000, $alpha: 0.2);
  padding: 12px 18px;
  position: relative;
  height: 100%;

  @extend %center;
}

.uploader__content__description {
  display: grid;
  justify-items: center;
  gap: 8px;
}

.uploader__content__description__title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.uploader__content__description__text {
  font-size: 12px;
  color: rgba($color: #000000, $alpha: 0.7);
  max-width: 236px;
  text-align: center;
}

.uploader__content__fileselector {
  position: absolute;
  bottom: 14px;
  left: 12px;
  right: 12px;
  background-color: $color-gray;
  border: $input-border;
  border-radius: 4px;
  padding: 4px 8px 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.uploader__content__fileselector__title {
  font-size: 10px;
  color: rgba($color: #000000, $alpha: 0.7);
}

.uploader__content__fileselector__label {
}

.upload__button__fileselector {
  font-size: 14px;
}

// Error handler
.uploader__content__body__dropzone.drop__success {
  $color: green;
  border-color: $color;

  & .uploader__content__description__title,
  & .uploader__content__description__text {
    color: $color !important;
  }

  & .uploader__content__description__image .file {
    fill: rgba($color, $alpha: 0.1);
  }

  & .uploader__content__description__image .plus {
    fill: rgba($color, $alpha: 0.8);
  }
}

.uploader__content__body__dropzone.drop__error {
  $color: crimson;
  border-color: $color;

  & .uploader__content__description__title,
  & .uploader__content__description__text {
    color: $color !important;
  }

  & .uploader__content__description__image .file {
    fill: rgba($color, $alpha: 0.3);
  }

  & .uploader__content__description__image .plus {
    fill: rgba($color, $alpha: 0.8);
  }
}
